---
layout: page
description: "Sabemos como começa, mas nunca como termina"
---

{% for post in paginator.posts %}
	<div class="post-preview">
		<a href="{{ post.url | prepend: site.baseurl }}">
			<h2 class="post-title">{{ post.title }}</h2>{% if post.subtitle %}<h3 class="post-subtitle">{{ post.subtitle }}</h3>
			{% endif %}
		</a>
		<!-- Removido informação de data e quem postou-->
		<!--<p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p> -->
	</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Postagens Novas</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Postagens Anteriores &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
